:focus {
  outline-color: transparent;
  outline-style: none;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 0.95em;
  width: 100%;
  background-color: #f1f1f1;
}

h1,
h2 {
  font-weight: 100;
}

.btn {
  padding: 12px 50px;
  cursor: pointer;
  transition: all 0.1s linear;
  margin-top: 10px;
  color: black;
  font-size: 13px;
  border-radius: 3px;
}

.btn:hover {
  color: black;
  background-color: rgba(0,0,0,0.05);
}

.btn.disable {
  cursor: default;
  opacity: 0;
}

.btn .md-icon {
  text-transform: none;
  font-size: 22px;
  margin-right: 10px;
}

input {
  font-weight: 300;
  background: white;
  color: black;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  border: none;
}

.md-icon {
  font-family: 'Material Icons';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-style: normal;
  vertical-align: middle;
}

.hidden {
  display: none !important;
}

header {
  display: flex;
  position: fixed;
  z-index: 2;
  top: 0;
  background: white;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 1em;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
}

header .logo {
  height: 80%;
}

.app {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.app main {
  width: 100%;
	max-width: 900px;
}

.login {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login input {
  padding: 1em;
  display: block;
  margin: 1em 0 0;
  font-size: 1em;
  width: 100%;
}

.login form {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 2em;
  border-radius: 6px;
  background: white;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.05);
}

.login h2 {
  width: 100%;
  margin-bottom: 1em;
}

.login .login-error {
  color: red;
}

.avatar {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .path {
  flex-grow: 1;
}

.assignment {
  width: 100%;
}

.assignment > * {
  padding: 1em 1em;
}

.assignment > h2 {
  padding-bottom: 0;
}

.entry-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.entry {
  padding: 0.5em 1em;
  background: white;
  margin: 0.3em 0;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
  display: inline-flex;
  align-items: center;
  position: relative;
}

.entry .entry-user {
  font-weight: 100;
  width: 100px;
  flex-shrink: 0;
}

.entry .entry-date {
  font-size: 0.75em;
}

.entry > *:not(:last-child) {
  margin-right: 1em;
}

.entry > p {
  max-width: 410px;
}

.entry .avatar {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.entry-editable:after {
  content:'+';
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
  color: white;
  background: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
  opacity: 0;
  transform: scale(0.5) rotate(0deg);
}

.entry-editable:hover:after {
  transform: rotate(45deg);
  opacity: 1;
}

.file-entry a {
  text-decoration: none;
  color: black;
  flex-grow: 1;
  text-align: right;
  padding-right: 2em;
  height: 100%;
  transition: all 0.3s;
}

.file-entry a {
  padding: 1em 0.75em;
  border-radius: 3px;
}

.file-entry a:hover {
  background-color: rgba(0,0,0,0.05);
}

.file-entry a:last-child {
  padding: 0.5em;
  border-radius: 50%;
}

.file-entry a .md-icon {
  font-size: 2.5em;
}

.assigned-entries {
  border: 1px solid #c8c8c8;
  padding: 0.5em 1em;
  margin-top: 2em;
  border-radius: 5px;
  background: #ebebeb;
}

.assigned-entries .entry:not(.admin-entry):not(.new-entry) > * {
  margin-right: 0;
}

.assigned-entries .entry:not(.admin-entry) > p {
  padding: 0em 1em;
}

/*.assigned-entries .entry:not(.admin-entry) > *:not(:first-child) {
  margin-left: 1em;
}*/

.assigned-entries .entry:not(.admin-entry):not(.new-entry) {
  margin-left: auto;
  flex-direction: row-reverse;
  text-align: right;
}

.entry.pending {
  background-color: #ffdacc;
}

.entry.accepted {
  background-color: #ccffcc;
}


.new-entry {
  display: inline-flex;
}

.new-entry-text {
  width: 320px;
  font-size: 1em;
  font-weight: normal;
  padding: 1em;
}

.entry__send-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5em;
  margin: 0 -10px;
}

.entry__send-text:hover {
  background-color: rgba(0,0,0,0.05);
}


@media screen and (max-width:640px) {
  .entry .entry-user {
    display: none;
  }

  .entry .avatar {
    width: 40px;
    height: 40px;
  }

  .entry .new-entry-text {
    width: 150px;
  }

  .box .box__file + label {
    display: none;
  }
}
