::-webkit-scrollbar {
    display: none;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  user-drag: none;
  user-select: none;
}

html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 0.95em;
  width: 100%;
  height: 100%;
}

h1 {
  font-weight: 100;
}

h2 {
  font-size: 1em;
  padding: 0.5em;
  font-weight: normal;
  color: #365e72;
}

.btn {
  padding: 12px 50px;
  cursor: pointer;
  transition: all 0.1s linear;
  margin-top: 10px;
  color: black;
  font-size: 13px;
  border-radius: 3px;
  background: white;
  border: none;
  text-decoration: none;
}

.btn:hover {
  color: black;
  background-color: rgba(0,0,0,0.05);
}

.btn.disable {
  cursor: default;
  opacity: 0;
}

.btn .md-icon {
  text-transform: none;
  font-size: 2em;
  margin-right: 10px;
}

.btn-strong {
  background: #355d72;
  color: white;
  border: none;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
}
.btn-strong .md-icon {
  color: white;
}
.btn-strong:hover {
  color: white;
  background: #628ea5;
}

input {
  font-weight: 300;
  color: black;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0,0,0,0.1);
}

.md-icon {
  font-family: 'Material Icons';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-style: normal;
  vertical-align: middle;
  color: #365e72;
}

.hidden {
  display: none !important;
}

.preloader {
  position: absolute;
  margin: auto;
  transition: all 0.2s;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -75%) scale(0.3);
  z-index: 3;
  pointer-events: none;
}

.loading .preloader {
  opacity: 1;
}

header {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  background: white;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 1em;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
}

header .logo {
  height: 80%;
}

#toggle-menu {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  font-size: 1.5em;
  margin-right: 0.5em;
  cursor: pointer;
}

nav {
  padding: 1em;
  background: #f9f9f9;
  border-right: 1px solid rgba(0,0,0,0.1);
  height: 100%;
  transition: all 0.2s;
  width: 250px;
}

.fold nav {
  margin-left: -250px;
}

nav .btn-new {
  width: 100%;
  margin-bottom: 2em;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 0;
}

nav ul li a.btn {
  display: inline-block;
  max-width: 220px;
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: none;
  padding: 0.7em 1em;
  font-weight: bold;
  margin: 0;
}

nav ul li a.btn.selected {
  background: #e9e9e9;
}

h1 {
  color: grey;
  padding: 0.5em 0.3em;
  text-transform: uppercase;
}

.app {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  height: 100%;
}

.app main {
  width: 100%;
  height: 100%;
  overflow: scroll;
	display: flex;
  justify-content: center;
  position: relative;
}

.login {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login input {
  padding: 1em;
  display: block;
  margin: 1em 0 0;
  font-size: 1em;
  width: 100%;
}

.login form {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 2em;
  border-radius: 6px;
  background: white;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.05);
}

.login h2 {
  width: 100%;
  margin-bottom: 1em;
}

.login .login-error {
  color: red;
}

.avatar {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .path {
  flex-grow: 1;
}

.assignment {
  width: 100%;
  max-width: 1024px;
  transition: all 0.1s;
  transition-delay: 50ms;
  position: relative;
}
.loading .assignment {
  opacity: 0;
}

.assignment > * {
  padding: 1em 1em;
}

.assignment > h2 {
  padding: 2em 1em 1em;
}

.assignment > h2 .due-date {
  color: #b4b4b0;
  font-size: .8em;
}

.badge {
  padding: 0.4em 0.7em;
  font-size: 0.7em;
  border-radius: 4px;
  background: rgba(54, 94, 114, 0.11);
  border: 1px solid rgba(54, 94, 114, 0.15);
}

.badge.pending {
  background: rgba(255, 124, 0, 0.29);
  border: 1px solid rgb(255, 147, 65);
  color: rgb(255, 110, 1);
  margin-left: 0.5em;
}

.module-name {
  margin-right: 0.75em;
}

.entries-list {
  transition: all 0.3s;
}

.entry-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.entry {
  margin: 0.5em 0 0;
  /*box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);*/
  display: inline-flex;
  align-items: center;
  position: relative;
}

.entry .entry-content, .new-entry {
  padding: 0.3em 1em;
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
}

.entry .entry-user {
  width: 100px;
  flex-shrink: 0;
  font-size: 0.9em;
  margin-left: 1em;
  color: #98a2a6;
}

.entry:not(.entry-align-alt) .entry-user {
  margin-left: 0;
  margin-right: 1em;
}

.entry .entry-date {
  font-size: 0.75em;
}

.entry > p {
  max-width: 410px;
}

.entry .avatar {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.entry__delete-bt {
  display: none !important;
  margin: 0 0.5em;
}

.entry-editable .entry__delete-bt {
  display: inline-flex !important;
  opacity: 0;
}

.entry-editable:hover .entry__delete-bt {
  opacity: 1;
}

.entry-editable .entry__delete-bt:hover {
  background: red;
}

.entry-editable .entry__delete-bt:hover .md-icon {
  color: white;
}

.file-entry a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: black;
  flex-grow: 1;
  text-align: right;
  padding-right: 2em;
  height: 100%;
  transition: all 0.3s;
  padding: 1em 0.75em;
  border-radius: 3px;
}

.file-entry a:hover {
  background-color: rgba(0,0,0,0.05);
}

.file-entry a.entry-content .md-icon {
  padding: 0.2em 0.5em 0.2em 0;
  display: inline-block;
}

.icon-btn {
  padding: 0.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2em;
  transition: all 0.2s;
}

.file-entry a .md-icon {
  font-size: 1.5em;
  vertical-align: middle;
}

.assigned-entries {
  border-radius: 0 5px 5px;
  background: #f9f9f9;
  margin-bottom: 1em;
  border: 1px solid rgba(192, 192, 192, 0.5);
  margin: 0 1em 1em;
  position: relative;
}

body:not([data-group]) .assigned-entries {
  display: none;
}

/*.assigned-entries .entry:not(.entry-align-alt) > p {
  padding: 0em 1em;
}*/

.assigned-entries .entry:not(.entry-align-alt):not(.new-entry) {
  flex-direction: row-reverse;
  text-align: right;
}

.assigned-entries .entry:not(.entry-align-alt) {
  margin-left: auto;
}

.assigned-entries .entry:not(.entry-align-alt) + .box {
  margin-right: 0;
}

.assigned-entries .entry:not(.entry-align-alt):not(.new-entry) > .avatar {
  margin-right: 0;
}

.entry.pending .entry-content,
.entry.reviewed .entry-content {
  position: relative;
}


.new-entry {
  display: inline-flex;
  width: 100%;
  max-width: 400px;
}

.new-entry-text {
  font-size: 1em;
  font-weight: normal;
  padding: 0.7em 1em;
  width: 100%;
  max-width: 360px;
  min-width: 160px;
}

.assigned-entries .new-entry-text,
.assigned-entries .new-entry {
  max-width: 100%;
}

.entry__send-text {
  margin: 0 -0.5em 0 0.2em;
  padding: 0 1em;
}

.entry__send-text:hover {
  background-color: rgba(0,0,0,0.05);
}

.review-btn {
  padding: 1.3em;
  margin: 0.5em 0 0 0.5em;
  border-radius: 5px;
}

/* GROUPS */

.groups-container {
  margin: 1.5em 1em 0;
  padding: 0;
  position: relative;
  margin-bottom: -2px;
  z-index: 2;
}

.groups-container > .icon-btn {
  position: absolute;
  bottom: 4px;
  right: 0;
  display: inline-block;
  width: 3.2em;
  height: 3.2em;
  margin-right: 0.5em;
}

.groups-container > .icon-btn .md-icon {
  margin-right: 0;
}

.groups-container::after {
  content: '';
  display: block;
  width: 5em;
  height: 50px;
  position: absolute;
  right: 4em;
  background: linear-gradient(to right, rgba(255,255,255,0), white);
  top: 0;
  pointer-events: none;
}

.groups {
  white-space: nowrap;
  overflow: scroll;
  padding: 0;
  /*padding-left: 4.5em;*/
  -webkit-scrollbar: none;
  overflow-y: hidden;
  margin-right: 4em;
}

.groups .group {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 5px 5px 0 0;
  font-size: 0.8em;
  border: 1px solid rgba(255,255,255,0);
  position: relative;
}

.groups .group:last-child {
  margin-right: 4em;
}

.groups .group:hover {
  background: rgba(0,0,0,0.05);
}

.groups .group .avatar > img {
  transition: all 0.3s;
}

.groups .group.selected {
  background: #f9f9f9;
  border: 1px solid rgba(192, 192, 192, 0.5);
  border-bottom: 0;
  border-bottom:1px solid #f9f9f9;
}

.groups .group.selected .avatar > img,
.groups .group:hover .avatar > img {
  opacity: 1;
}

.groups .group .avatar {
  width: 24px;
  height: 24px;
  background-color: white;
  position: relative;
}

.groups .group:not(.selected) .avatar::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

.groups .group .avatar:not(:first-child) {
  margin-left: -5px;
}

.groups .group:not([data-num='0'])::after {
  content: attr(data-num);
  position: absolute;
  top: 0.5em;
  right: 1em;
  font-size: 0.75em;
  width: 12px;
  height: 12px;
  border-radius: 50% 50% 50% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c5c5c5;
  color: white;
}

.groups .group.pending:not([data-num='0'])::after {
  font-family: 'Material Icons';
  content: 'assignment';
  background: none;
  color: #ff8d38;
  font-size: 1.3em;
  right: 4px;
  top: 4px;
}

.groups .group.reviewed::after {
  font-family: 'Material Icons';
  content: 'assignment_turned_in';
  background: none;
  color: #365e72;
  font-size: 1.3em;
  right: 4px;
  top: 4px;
}

.entry.pending .entry-content .md-icon {
  color: #ff8d38;
}

/*.entry.reviewed .entry-content::after,
.entry.pending .entry-content::after {
  left: -7px;
  top: -7px;
  width: 20px;
  height: 20px;
}*/

.group-names {
  color: #98a2a6;
  text-align: right;
  margin-bottom: 0.5em;
}


.new-assignment-form {
  display: none;
  padding: 1em;
  margin-top: 1em;
}

.new-assignment-form input {
  margin-top: 0.5em;
  width: 100%;
}


.modal-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background: rgba(255,255,255,0.8);
}

.modal {
  width: 50%;
  background: white;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.groups-editor .group {
  display: inline-block;
  padding: 0.5em;
  background: rgb(249, 249, 249);
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  margin: 0.5em;
  /*transition: all 0.1s;*/
}

.groups-editor .group.dragover {
  background: #dee5e9;
  border: 1px dashed #355d72;
}

.groups-editor .group .avatar {
  transition: all 0.2s;
}

.groups-editor .group .avatar.dragged-out {
  opacity: 0.1;
}

.groups-editor .group .avatar:hover {
  z-index: 10;
  position: relative;
  cursor: move;
  cursor: grab;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.groups-editor .group .md-icon {
  vertical-align: bottom;
  font-size: 2em;
  width: 40px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.groups-editor .group-new,
.groups-editor .group-remove {
  opacity: 0.1;
  pointer-events: none;
}

.dragging .group-new,
.dragging .group-remove {
  opacity: 1;
  pointer-events: all;
}

/* MEDIA QUERIES */

@media screen and (max-width:800px) {

  nav {
    position: absolute;
    left: 0;
    z-index: 9;
    box-shadow: 2px -2px 2px rgba(0,0,0,0.05);
  }

  .entry .entry-user {
    display: none;
  }

  .entry .new-entry-text {
    width: 150px;
  }

  .assigned-entries .entry .new-entry-text {
    width: 100%;
  }

  .assigned-entries {
    margin:0 0 1em 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  .box .box__file + label {
    display: none;
  }

  .assigned-entries::before {
    right: 6em;
  }

  .modal {
    width: auto;
  }
}
