::-webkit-scrollbar {
    display: none;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 0.95em;
  width: 100%;
  height: 100%;
}

h1,
h2 {
  font-weight: 100;
}

.btn {
  padding: 12px 50px;
  cursor: pointer;
  transition: all 0.1s linear;
  margin-top: 10px;
  color: black;
  font-size: 13px;
  border-radius: 3px;
  background: white;
  border: none;
  text-decoration: none;
}

.btn:hover {
  color: black;
  background-color: rgba(0,0,0,0.05);
}

.btn.disable {
  cursor: default;
  opacity: 0;
}

.btn .md-icon {
  text-transform: none;
  font-size: 2em;
  margin-right: 10px;
}

input {
  font-weight: 300;
  color: black;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.05); 
  border: 1px solid rgba(0,0,0,0.1);
}

.md-icon {
  font-family: 'Material Icons';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-style: normal;
  vertical-align: middle;
  color: #365e72;
}

.hidden {
  display: none !important;
}

.preloader {
  position: absolute;
  margin: auto;
  transition: all 0.2s;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -75%) scale(0.3);
  z-index: 3;
  pointer-events: none;
}

.loading .preloader {
  opacity: 1;
}

header {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  background: white;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 1em;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
}

header .logo {
  height: 80%;
}

#toggle-menu {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  font-size: 1.5em;
  margin-right: 0.5em;
  cursor: pointer;
}

nav {
  padding: 1em;
  background: #f9f9f9;
  border-right: 1px solid rgba(0,0,0,0.1);
  height: 100%;
  transition: all 0.2s;
  width: 250px;
}

.fold nav {
  margin-left: -250px;
}

nav .btn-new {
  width: 100%;
  background: #355d72;
  color: white;
  border: none;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}
nav .btn-new:hover {
  color:white;
  background: #628ea5;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 1.1em 0;
}

nav ul li a.btn {
  white-space:nowrap;
  background: none;
  padding: 0.7em 1em;
  font-weight: bold;
}

nav ul li a.btn.selected {
  background: #e9e9e9;
}

nav h1 {
  color: grey;
  padding: 0.5em 0.3em;
}

.app {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  height: 100%;
}

.app main {
  width: 100%;
  height: 100%;
  overflow: scroll;
	display: flex;
  justify-content: center;
  position: relative;
}

.login {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login input {
  padding: 1em;
  display: block;
  margin: 1em 0 0;
  font-size: 1em;
  width: 100%;
}

.login form {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 2em;
  border-radius: 6px;
  background: white;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.05);
}

.login h2 {
  width: 100%;
  margin-bottom: 1em;
}

.login .login-error {
  color: red;
}

.avatar {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .path {
  flex-grow: 1;
}

.assignment {
  width: 100%;
  max-width: 900px;
  transition: all 0.1s;
  transition-delay: 50ms;
  position: relative;
}
.loading .assignment {
  opacity: 0;
}

.assignment > * {
  padding: 1em 1em;
}

.assignment > h2 {
  font-size: 1em;
  padding: 2em 1em 1em;
  font-weight: normal;
  color: #365e72;
}

.assignment > h2 .due-date {
  color: #b4b4b0;
  font-size: .8em;
}

.module-name {
  padding: 0.4em 0.7em;
  font-size: 0.7em;
  background: rgba(54, 94, 114, 0.11);
  border-radius: 4px;
  border: 1px solid rgba(54, 94, 114, 0.15);
  margin-right: 0.75em;
}

.entries-list {
  transition: all 0.3s;
}

.entry-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.entry {
  padding: 0.5em 1em;
  background: white;
  margin: 0.3em 0;
  border-radius: 5px;
  /*box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);*/
  display: inline-flex;
  align-items: center;
  position: relative;
  border: 1px solid rgba(0,0,0,0.1);
}

.entry .entry-user {
  width: 100px;
  flex-shrink: 0;
  font-size: 0.9em;
  color: #768185;
}

.entry .entry-date {
  font-size: 0.75em;
}

.entry > *:not(.download-icon):not(.entry__delete-bt):not(.entry__send-text):not(.new-entry-text) {
  margin-right: 1em;
}

.entry > p {
  max-width: 410px;
}

.entry .avatar {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.entry__delete-bt {
  display: none;
}

.entry-editable .entry__delete-bt {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
  color: white;
  background: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
  opacity: 0;
  transform: scale(0.5) rotate(0deg);
}

.entry-editable:hover .entry__delete-bt {
  transform: rotate(45deg);
  opacity: 1;
}

.entry-editable .entry__delete-bt:hover {
  transform: rotate(135deg);
}

.file-entry a {
  text-decoration: none;
  color: black;
  flex-grow: 1;
  text-align: right;
  padding-right: 2em;
  height: 100%;
  transition: all 0.3s;
}

.file-entry.is-assignment a,
.file-entry.entry-align-alt {
  margin-left: -0.75em;
}

.file-entry a {
  padding: 1em 0.75em;
  border-radius: 3px;
}

.file-entry a:hover {
  background-color: rgba(0,0,0,0.05);
}

.file-entry a.download-icon, .icon-btn {
  padding: 0.5em;
  border-radius: 50%;
}

.file-entry a .md-icon {
  font-size: 2em;
}

.assigned-entries {
  border-radius: 0 5px 5px;
  background: #f9f9f9;
  margin-bottom: 1em;
  border: 1px solid rgba(192, 192, 192, 0.5);
  margin: 0 1em 1em;
  position: relative;
}

.assigned-entries .entry:not(.entry-align-alt) > p {
  padding: 0em 1em;
}

.assigned-entries .entry:not(.entry-align-alt):not(.new-entry) {
  flex-direction: row-reverse;
  text-align: right;
}

.assigned-entries .entry:not(.entry-align-alt) {
  margin-left: auto;
}

.assigned-entries .entry:not(.entry-align-alt) + .box {
  margin-right: 0;
}

.assigned-entries .entry:not(.entry-align-alt):not(.new-entry) > .avatar {
  margin-right: 0;
}

.entry.pending {
  background-color: #ffdacc;
}

.entry.accepted {
  background-color: #ccffcc;
}


.new-entry {
  display: inline-flex;
}

.new-entry-text {
  width: 320px;
  font-size: 1em;
  font-weight: normal;
  padding: 1em;
}

.entry__send-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5em;
  margin: 0 -0.5em 0 0.2em;
}

.entry__send-text:hover {
  background-color: rgba(0,0,0,0.05);
}

/* GROUPS */

.groups-container {
  margin: 1.5em 1em 0;
  padding: 0;
  position: relative;
  margin-bottom: -1px;
  z-index: 2;
}

.groups-container > .icon-btn {
  position: absolute;
  bottom: 4px;
  right: 0;
  display: inline-block;
  width: 3.2em;
  height: 3.2em;
  margin-right: 0.5em;
}

.groups-container > .icon-btn .md-icon {
  margin-right: 0;
}

.groups-container::after {
  content: '';
  display: block;
  width: 5em;
  height: 50px;
  position: absolute;
  right: 4em;
  background: linear-gradient(to right, rgba(255,255,255,0), white);
  top: 0;
  pointer-events: none;
}

.groups {
  white-space: nowrap;
  overflow: scroll;
  padding: 0;
  /*padding-left: 4.5em;*/
  -webkit-scrollbar: none;
  overflow-y: hidden;
  margin-right: 4em;
}

.groups .group {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 5px 5px 0 0;
  font-size: 0.8em;
  border: 1px solid rgba(255,255,255,0);
}

.groups .group:last-child {
  margin-right: 4em;
}

.groups .group:hover {
  background: rgba(0,0,0,0.05);
}

.groups .group .avatar > img {
  opacity: 0.3;
  transition: all 0.3s;
}

.groups .group.selected {
  background: #f9f9f9;
  border: 1px solid rgba(192, 192, 192, 0.5);
  border-bottom: 0;
  border-bottom:1px solid #f9f9f9;
}

.groups .group.selected .avatar > img,
.groups .group:hover .avatar > img {
  opacity: 1;
}

.groups .group .avatar {
  width: 24px;
  height: 24px;
  background-color: white;
}

.groups .group .avatar:not(:first-child) {
  margin-left: -12px;
}

.group-names {
  color: rgba(0, 0, 0, 0.4);
  text-align: right;
  padding: 0.5em;
}

/* MEDIA QUERIES */

@media screen and (max-width:800px) {

  nav {
    position: absolute;
    left: 0;
    z-index: 9;
    box-shadow: 2px -2px 2px rgba(0,0,0,0.05);
  }

  .entry .entry-user {
    display: none;
  }

  .entry .new-entry-text {
    width: 150px;
  }

  .assigned-entries {
    margin:0 0 1em 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  .box .box__file + label {
    display: none;
  }

  .assigned-entries::before {
    right: 6em;
  }
}
