/* STUDENT LIST */

.student-finder {
  margin-bottom: 5px;
  position: relative;
}

.student-img {
  position: absolute;
  z-index: 999;
}

.autocomplete-list {
  position: relative;
  display: flex;
}

.student-input {
  width: 100%;
  padding: 1em;
  margin: 0.5em;
  box-shadow: none;
  font-size: 1em;
}

ul.student-list {
  width: 100%;
  max-height: 300px;
  overflow: scroll;
  background-color: white;
  position: absolute;
  z-index: 999;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
  top: 4em;
}

ul.student-list li {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 100;
  align-items: center;
}

ul.student-list li:hover {
  background-color: #f3f3f3;
}

ul.student-list .avatar {
  margin-right: 1em;
  width: 35px;
  height: 35px;
}
