<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>écal archiveur</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/upload_box.css') }}">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/offline.css') }}"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='res/icons/favicon-16x16.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='res/icons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='res/icons/favicon-96x96.png') }}">
</head>

<body class="js"
  {% if user is defined %} data-user-id="{{user.id}}" {% endif %}
  {% if year is defined %} data-year="{{year}}" {% endif %}
  {% if assignment is not none %} data-assignment="{{assignment}}" {% endif %}
  {% if group is not none %} data-group="{{group}}" {% endif %}>

  {% block header %}
  {% endblock %}

  {% block main %}
  {% endblock %}

  {% block scripts %}
  {% endblock %}

</body>

</html>
