<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>Archiveur</title>
  {% if is_dev %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/user_finder.css">
    <link rel="stylesheet" href="/static/css/upload_box.css">
    <link rel="stylesheet" href="/static/css/offline.css">
  {% else %}
    <link rel="stylesheet" href="/static/style.min.css">
  {% endif %}
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet"> -->
  <link rel="icon" type="image/png" href="/static/res/icons/favicon-96x96.png">
</head>

<body class="js"
  data-users-img-prefix="{{users_img_prefix}}"
  {% if user is defined %} data-user-id="{{user.id}}" {% endif %}
  {% if year is defined %} data-year="{{year}}" {% endif %}
  {% if assignment is not none %} data-assignment="{{assignment}}" {% endif %}
  {% if group is not none %} data-group="{{group}}" {% endif %}
  {% if is_admin %} data-admin="true" {% endif %}>

  {% block header %}
  {% endblock %}

  {% block main %}
  {% endblock %}

  {% block scripts %}
  {% endblock %}

</body>

</html>
