{% extends "base.html" %}

{% block main %}
  <section id="app" class="app">
    <main>

      <form method="post" action="/api/upload" enctype="multipart/form-data" novalidate class="box">
    		<div class="box__input">
    			<i class="md-icon">file_upload</i>
    			<input type="file" name="file" id="file" class="box__file" />
    			<label for="file"><strong>PDF</strong><span class="box__dragndrop"> (max 500ko)</span><br><span class="box__error"></span></label>
    			<button type="submit" class="box__button">Upload</button>
    		</div>
    		<div class="box__uploading">Uploading&hellip;</div>
    	</form>

    </main>
  </section>
{% endblock %}


{% block scripts %}
  <!-- third parties -->
  <script src="{{ url_for('static', filename='libs/qwest.min.js') }}"></script>
  <script src="{{ url_for('static', filename='libs/ejs.min.js') }}"></script>
  <!-- scripts -->
  <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script src="{{ url_for('static', filename='js/upload_box.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
