{% extends "base.html" %}

{% block header %}

  <header>
    <button class="btn" id="toggle-menu">☰</button>
    <img class="logo" src="/static/res/logo.svg">
    <div class="path"></div>
    <div class="avatar"><img src="{{user.img}}"></div>
  </header>

{% endblock %}


{% block main %}

  <section id="app" class="app fold">
    <nav>
      {% if is_admin %}
        <button class="btn btn-strong btn-new">New</button>
      {% endif %}
      <h1>2017-2018</h1>
      <ul>
        {% for a in assignments %}
          <li><a href="/a/{{year}}/{{a}}" class="btn {% if assignment == a %}selected{% endif %}" data-year={{year}} data-assignment-id="{{a}}">{{ a }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <main>
      <img src="/static/res/preloader.svg" class="preloader">
      {% if is_admin %}
      <form method="post" action="/new/{{year}}" class="new-assignment-form">
        <select name="course-id" class="new-entry-text">
          {% for k, c in courses.iteritems() %}
            <option value="{{k}}">{{k}} - {{c}}</option>
          {% endfor %}
        </select>
        <input type="text" name="assignment-name" class="new-entry-text" placeholder="Assignment Name" />
        <button class="btn btn-strong">Create</button>
      </form>
      {% endif %}
    </main>
  </section>

{% endblock %}


{% block scripts %}

<!-- templates -->
<script type="text/template" id="assignment-tpl">
  <h2><span class="module-name"><%= module %></span><%= assignment.name %><% if (due) { %><span class="due-date">, due for <%= due %></span> <% } %></h2>
  <div class="assignment-entries">
    <div class="entries-list">
      <% for(var i=0; i<assignment.entries.length; i++) { %>
      	<%- include('entry-tpl', assignment.entries[i]) -%>
      <% } %>
    </div>
  {% if is_admin %}
    <%- include('new-entry-tpl', {user:user, is_assignment:true}) -%>
  {% endif %}
  </div>
  {% if is_admin %}
  <div class="groups-container">
    <div class="groups">
      <% for(var i=0; i<groups.length; i++) { %>
        <div class="group <%= groups[i].classes.join(' ') %>" data-id="<%= i %>">
          <% for(var j=0; j<groups[i].users.length; j++) { %>
            <% var u = groups[i].users[j]; %>
            <div class="avatar"><img src="https://intranet.ecal.ch/img/photo/<%= u.img %>"></div>
          <% } %>
          <p><%= groups[i].name %></p>
        </div>
      <% } %>
    </div>
    <a class="btn icon-btn"><i class="md-icon">edit</i></a>
  </div>
  {% endif %}
  <div class="assigned-entries">
    <% if (group) { %>
      <div class="group-names"><%= group.join(', ') %></div>
    <% } %>
    <div class="entries-list">
      <% for(var i=0; i<entries.length; i++) { %>
      	<%- include('entry-tpl', entries[i]) -%>
      <% } %>
    </div>
    <%- include('new-entry-tpl', {user:user}) -%>
  </div>
</script>

<script type="text/template" id="entry-tpl">
  <div class="entry-row">
    <div class="entry <%= classes.join(' ') %>" data-id="<%= entry.id %>">
      <div class="avatar">
        <img src="https://intranet.ecal.ch/img/photo/<%= user.img %>">
      </div>
      <p class="entry-user"><%= user.name %><br><span class="entry-date"><%= date %></span></p>
        <% if (entry.text) { %>
          <p><%= entry.text %></p>
        <% } else { %>
        <a href="<%= entry.file %>" target="_blank"><%= filename %></a>
        <a class="download-icon" href="<%= entry.file %>" target="_blank"><i class="md-icon">file_download</i></a>
      <% } %>
      <div class="entry__delete-bt">+</div>
    </div>
  </div>
</script>

<script type="text/template" id="new-entry-tpl">
  <div class="entry-row">
    <div class="entry new-entry entry-align-alt <%= classes.join(' ') %>">
      <div class="avatar">
        <img src="https://intranet.ecal.ch/img/photo/<%= user.img %>">
      </div>
      <input class="new-entry-text" type="text" placeholder="Add comment" />
      <span class="entry__send-text"><i class="md-icon">send</i></span>
    </div>
    <form method="post" action="/api/upload" enctype="multipart/form-data" novalidate class="box  <%= classes.join(' ') %>">
      <div class="box__input">
        <i class="md-icon">file_upload</i>
        <input type="file" name="file" id="file" class="box__file" />
        <label for="file">Add File<span class="box__dragndrop"></span><br><span class="box__error"></span></label>
        <button type="submit" class="box__button">Add File</button>
      </div>
      <div class="box__uploading">Uploading&hellip;</div>
    </form>
  </div>
</script>

<script>
let users = {{ users_dict|tojson|safe }};
</script>

<!-- third parties -->
<script src="{{ url_for('static', filename='libs/qwest.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/ejs.min.js') }}"></script>
<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
<!-- scripts -->
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/firebase.js') }}"></script>
<script src="{{ url_for('static', filename='js/upload_box.js') }}"></script>
<script src="{{ url_for('static', filename='js/entry.js') }}"></script>
<script src="{{ url_for('static', filename='js/new_entry.js') }}"></script>
<script src="{{ url_for('static', filename='js/assignment.js') }}"></script>
<script src="{{ url_for('static', filename='js/nav.js') }}"></script>
<script src="{{ url_for('static', filename='js/new_assignment.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
