{% extends "base.html" %}

{% block header %}

  <header>
    <button class="btn" id="toggle-menu">☰</button>
    <img class="logo" src="{{static_files}}/res/logo.svg">
    <div class="path"></div>
    <div class="avatar"><img src="{{users_img_prefix}}/{{user.img}}"></div>
  </header>

{% endblock %}


{% block main %}

  <section id="app" class="app fold">
    <nav>
      {% if is_admin %}
        <button class="btn btn-strong btn-new">New</button>
      {% endif %}
      <h1>2017-2018</h1>
      <ul>
        {% for c_id, classe in assignments.iteritems() %}
          <h2>{{ c_id }}</h2>
          {% for k, a in classe.iteritems() %}
            <li><a href="/a/{{year}}/{{k}}" class="btn {% if assignment == k %}selected{% endif %}" data-year={{year}} data-assignment-id="{{k}}">{{ a['data']['name'] }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>
    </nav>
    <main class="loading">
      <img src="{{static_files}}/res/preloader.svg" class="preloader">
      {% if is_admin %}
      <form method="post" action="/new/{{year}}" class="new-assignment-form hidden">
        <select name="class-id" class="new-entry-text">
            <option value="" disabled selected>Select a group</option>
            <option value="1CVmid">1CVmid</option>
            <option value="2CVmid">2CVmid</option>
            <option value="3CVmid">3CVmid</option>
            <option value="other">Other</option>
        </select>
        <select name="course-id" class="new-entry-text" disabled>
          <option value="" disabled selected>Select a course</option>
          {% for k, c in courses.iteritems() %}
            <option value="{{k}}">{{c}}</option>
          {% endfor %}
            <option value="other">Other</option>
        </select>
        <input type="text" name="assignment-name" class="new-entry-text disabled" placeholder="Assignment Name" />
        <input type="hidden" name="creator" value={{user.id}}/>
        <div class="form-action">
          <a href="/a/{{year}}" class="btn btn-cancel">Cancel</a> <button class="btn btn-strong disabled" value="submit">Create</button>
        </div>
      </form>
      {% endif %}
    </main>
  </section>

{% endblock %}


{% block scripts %}

<!-- templates -->
<script type="text/template" id="assignment-tpl">
  <h2><span class="badge module-name"><%= module %></span><%= assignment.name %><% if (due) { %><span class="due-date">, due for <%= due %></span> <% } %></h2>
  <div class="assignment-entries">
    <div class="entries-list">
      <% for(var i=0; i<assignment.entries.length; i++) { %>
      	<%- include('entry-tpl', assignment.entries[i]) -%>
      <% } %>
    </div>
  {% if is_admin %}
    <%- include('new-entry-tpl', {user:user, is_assignment:true}) -%>
  {% endif %}
  </div>
  {% if is_admin %}
  <div class="groups-container">
    <div class="groups">
      <% if (groups.length == 0) { %>
        <p class="notice">Click on the edit button to add people to this assignment <i class="md-icon">arrow_forward</i></p>
      <% } %>
      <% for(var i=0; i<groups.length; i++) { %>
        <div class="group <%= groups[i].classes.join(' ') %>" data-id="<%= groups[i].id %>" data-num="0">
          <% for(var j=0; j<groups[i].users.length; j++) { %>
            <% var u = groups[i].users[j]; %>
            <div class="avatar"><img src="<%= u.img %>"></div>
          <% } %>
          <p><%= groups[i].name %></p>
        </div>
      <% } %>
    </div>
    <a class="btn icon-btn edit-groups-btn"><i class="md-icon">edit</i></a>
  </div>
  {% endif %}

  <div class="assigned-entries">
    <div class="group-names">
      <span>
        <% if (group) { %>
          <%= group.join(', ') %>
        <% } %>
      </span>
      <!-- <span class="badge pending">pending review</badge> -->
    </div>
      <div class="entries-list">
        <% for(var i=0; i<entries.length; i++) { %>
        	<%- include('entry-tpl', entries[i]) -%>
        <% } %>
      </div>
      <%- include('new-entry-tpl', {user:user, is_assignment:false}) -%>
  </div>

</script>

<script type="text/template" id="entry-tpl">
  <div class="entry-row">
    <div class="entry <%= classes.join(' ') %>" data-id="<%= entry.id %>">
      <div class="avatar">
        <img src="<%= user.img %>">
      </div>
      <p class="entry-user"><%= user.name %><br><span class="entry-date"><%= date %></span></p>
        <% if (entry.text) { %>
        <p class="entry-content"><%= entry.text %></p>
        <% } else { %>
          <a href="<%= entry.file %>" class="entry-content" target="_blank">
            <% if (entry.status == 'pending') { %>
              <i class="md-icon">assignment</i>
            <% } else if (entry.status == 'reviewed') { %>
              <i class="md-icon">assignment_turned_in</i>
            <% } else { %>
              <i class="md-icon">file_download</i>
            <% } %>
            <%= filename %>
          </a>
        <% } %>
        <div class="entry__delete-bt icon-btn"><i class="md-icon">delete</i></div>
    </div>
  </div>
</script>

<script type="text/template" id="new-entry-tpl">
  <div class="entry-row">
    <div class="entry new-entry entry-align-alt <%= classes.join(' ') %>">
      <input class="new-entry-text" type="text" placeholder="Add comment" />
      <span class="entry__send-text icon-btn"><i class="md-icon">send</i></span>
    </div>
    <form method="post" action="/api/upload" enctype="multipart/form-data" novalidate class="box  <%= classes.join(' ') %>">
      <div class="box__input">
        <i class="md-icon">file_upload</i>
        <input type="file" name="file" id="file" class="box__file" />
        <label for="file">Add File<span class="box__dragndrop"></span><br><span class="box__error"></span></label>
        <button type="submit" class="box__button">Add File</button>
      </div>
      <div class="box__uploading">Uploading&hellip;</div>
    </form>
    {% if is_admin %}
    <% if (!is_assignment) { %>
    <button class="btn btn-strong review-btn" style="display:none"><i class="md-icon">assignment_turned_in</i>Reviewed</button>
    <% } %>
    {% endif %}
  </div>
</script>

<script type="text/template" id="edit-groups-tpl">
  <div class="groups-editor modal">
      <h2>Edit groups</h2>
      <div class="student-finder">
        <div class="autocomplete-list">
          <input class="student-input autocomplete-input" placeholder="Add someone" type="text"></input>
          <ul class="student-list" style="display:none;"></ul>
        </div>
      </div>
      <div class="groups-list">
      <% for(var i=0; i<groups.length; i++) { %>
        <div class="group <%= groups[i].classes.join(' ') %>" data-id="<%= groups[i].id %>">
          <% for(var j=0; j<groups[i].users.length; j++) { %>
            <% var u = groups[i].users[j]; %>
            <div class="avatar" data-id="<%=  u.id %>" draggable="true"><img src="<%= u.img %>" draggable="false"></div>
          <% } %>
        </div>
      <% } %>
      <div class="group group-new"><i class="md-icon">group_add</i></div>
      <div class="group group-remove"><i class="md-icon">remove_circle_outline</i></div>
    </div>
    <div class="form-action">
      <a href="/a/{{year}}" class="btn btn-cancel">Cancel</a> <button class="btn btn-strong" value="submit">OK</button>
    </div>
  </div>
</script>

{% if is_admin %}
<script type="text/template" id="user-card-tpl">
    <% if (typeof(img) !== 'undefined') { %>
      <div class="avatar"><img src="<%= img %>"></div>
    <% } else { %>
    <div style="width:50px; height:40px;"></div>
    <% } %>
    <p><%= name %></p>
</script>
{% endif%}

<script>
let users = {{ users_dict|tojson|safe }};
</script>

<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
{% if is_dev %}
  <script src="/static/libs/mobile-drag-drop/index.min.js"></script>
  <script src="/static/libs/qwest.min.js"></script>
  <script src="/static/libs/ejs.min.js"></script>
  <script src="/static/js/utils.js"></script>
  <script src="/static/js/api.js"></script>
  <script src="/static/js/firebase.js"></script>
  <script src="/static/js/upload_box.js"></script>
  <script src="/static/js/entry.js"></script>
  <script src="/static/js/new_entry.js"></script>
  <script src="/static/js/groups.js"></script>
  <script src="/static/js/assignment.js"></script>
  <script src="/static/js/nav.js"></script>
  {% if is_admin %}
    <script src="/static/js/new_assignment.js"></script>
    <script src="/static/js/user_finder.js"></script>
  {% endif %}
  <script src="/static/js/main.js"></script>
{% else %}
  <script src="{{static_files}}/main.min.js"></script>
{% endif %}

{% endblock %}
